
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: rgb(171, 180, 180) ;
}

.row{
  background : white;               
}

.btn1{
  margin: 4px;
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: rgb(94, 238, 94);
  color: white;
  border-radius: 6px;
  font-weight: bold;
  
}

.ele1{
  float: right;
}

#img2{
  width: 20px;
  height: 20px;
  
} 

#btn2{
  background-color: black;
  
}
   
form {
  margin-left: 20px;
  margin-right: 20px;
}
